@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --pale-blue   : hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue   : hsl(228, 56%, 26%);
  --Very-d-blue : hsl(229, 57%, 11%);
  --gradient1   : hsl(6, 100%, 80%);
  --gradient2   : hsl(335, 100%, 65%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  background: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway' , sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1.5rem;
}

.card {
  background-color: var(--dark-blue);
  width: 85%;
  border-radius: 1rem;
}

.card-logo {
  padding: 3rem;
  border-top-right-radius: 7rem;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 2rem;
}

.btn {
  background-color: var(--Very-d-blue);
  padding: 1rem;
  border-radius: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-storage {
  padding: 3rem 3rem 4rem 3rem;
  position: relative;
}

.text {
  color: var(--pale-blue);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  color: var(--pale-blue);
  font-weight: 700;
  font-size: 1.2rem;
}

.progress-bar {
  width: 100%;
  background-color: var(--Very-d-blue);
  margin: 1.5rem 0 .8rem;
  border-radius: 4rem;
  padding: 2px;
}

.progress-bar-color {
  width: 75%;
  background: linear-gradient(90deg, var(--gradient1), var(--gradient2));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4rem;
  padding: 2px;
}

.ball {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
}

.float-msg {
  position: absolute;
  left: 50%;
}

.msg {
  background-color: #fff;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  font-weight: 700;
  position: relative;
  left: -50%;
}

.msg strong {
  color: black;
  font-size: 4rem;
}

span {
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 1px;
  margin-left: 1rem;
  align-self: center;
  font-size: 1.3rem;
}

.triangle {
  display: none;
}

@media (min-width: 1024px){
  body {
    background: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: unset;
    background-position-y: 150%;
    background-color: var(--Very-d-blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }

  .card-logo {
    width: 40%;
  }

  .card-storage {
    width: 60%;
    padding: 2rem;
  }

  .text {
    text-align: left;
  }

  .float-msg {
    left: unset;
    top: -30%;
    right: 2rem;
  }

  .msg {
    left: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
  }

  .msg strong {
    font-size: 2rem;
  }

  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
  }
}